
body{
    margin: 0;
    /* align-items: center; */

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

h1{
    margin: 0;
    font-size: 6rem;
    text-align: center;
}

/* .storm{
    background-image: url(images/yellow.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
} */

.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.imgInicio{
    margin-top: 10px;
    max-width: 100%;
    opacity: 0.7;
}

.index{
    margin-bottom: auto;
}

/*Estilos footer*/
.footer{
    background-color: #333;
    color: #ffff;
    padding: 20px;
    text-align: center;
    margin-top: auto;



}

/* Estilos para los encabezados dentro del footer */
footer h3 {
    margin: 10px 0;
}

.footer-title{
    text-align: center;
    font-size: 35px;
    color: #000000;
}

/* Estilos para los enlaces dentro del footer */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}



/*Estilos nav*/
nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a{
    color: #ffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover{
    text-decoration: underline;
}

.logoNav{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


h2{
    display: inline;
    color: #ecb730;
    font-size: 24px;
    text-align: center;
}

/*Estilos mensajes leidos y no leidos*/

.false-readed a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(9, 129, 199);;
}

.true-readed a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

/* Centrar mapa ¿donde estamos? */
.map{
    margin: auto;
    padding: auto;

}


/* Organizar lista eventos estilo */
.evento {
    margin: 20px;
    padding: 20px;
    margin-bottom: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-future,
.event-past {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.event-a {
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
}

.like-nolike a {
    margin-right: 10px;
    text-decoration: none;
}

.like-nolike a:hover {
    color: #ff8c00;
    text-decoration: none;
}

.event-past {
    color: #000000;
}

.event-past a {
    color: #000000;
    font-weight: normal;
}

/* Editar evento, centrar formulario */
form {
    max-width: 400px; /* Establece el ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

label {
    display: block; /* Coloca cada etiqueta en una nueva línea */
    margin-bottom: 5px; /* Espacio entre las etiquetas y los campos de entrada */
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

input[type="checkbox"] {
    width: auto; /* Ancho automático para los checkboxes */
}

input[type="submit"] {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #3c74d0;
}


/* arreglo footer de los enlaces del nav */
.form-contact{
    margin-bottom: auto;
}

.user{
    margin-bottom: auto;
}

.info-footer{
    margin-bottom: auto;
}

.messages{
    margin-bottom: auto;
}

.player{
    margin-bottom: auto;
}

.user-container {
    margin-bottom: auto;
}

.list-user {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.list-user span {
    font-weight: bold;
}
