
body{
    margin: 0;
    /* align-items: center; */

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

h1{
    margin: 0;
    font-size: 6rem;
    text-align: center;
}

.storm{
    background-image: url(images/yellow.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.imgInicio{
    margin-top: 10px;
    max-width: 100%;
    opacity: 0.7;
}

/*Estilos footer*/
.footer{
    background-color: #333;
    color: #ffff;
    padding: 20px;
    text-align: center;
    margin-top: auto;



}

/* Estilos para los encabezados dentro del footer */
footer h3 {
    margin: 10px 0;
}

.footer-title{
    text-align: center;
    font-size: 35px;
    color: #000000;
}

/* Estilos para los enlaces dentro del footer */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}



/*Estilos nav*/
nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a{
    color: #ffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover{
    text-decoration: underline;
}

.logoNav{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


h2{
    display: inline;
    color: #ecb730;
    font-size: 24px;
}

/*Estilos mensajes leidos y no leidos*/

.false-readed a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(9, 129, 199);;
}

.true-readed a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}



